.inputContainer  {
    position:relative;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.inputContainer input {
    width:100%;
    z-index:100;
    caret-color: #96c2b3;
    color: #96c2b3;
    font-size: 18px;
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: visible;
    margin: 0;

}
.inputAfter {
    position: relative;
    display: inline-block;
    transition: width 500ms;
    width: 0;
    background: #5ca18a;
}
input:focus ~ .inputAfter,
.inputAfter:active {
    content: '';
    top: 53px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px ;
    z-index: -10;
}

.inputClass {
    border-radius: 3px 3px 0 0 ;
    padding: 22px 15px 14px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
}
.inputContainer label {
    transition:font-size 500ms, top 500ms, left 500ms, opacity 500ms;
    font-size:14px;
    position:absolute;
    top:5px;
    left:10px;
    z-index:-10;
    color: #5ca18a;
    text-transform: lowercase;
}
.inputContainer input:focus {
    outline: none;
}

input:focus ~ label,
label:active {
    width:100%;
    font-size: 10px;
    top:5px;
    left:15px;
    opacity: 0.7;
}
.inputLabel {
    color: #96c2b3;
}
.inputError {
    color: indianred;
}