@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import-normalize;

body {
    background:url('./../../../assets/bg.jpg') center center/cover repeat;
}
.app {
    width: 100%;
    min-height: 100%;
    height: 100%;

    &__title {
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        padding: 20px 0;
    }
    @media (max-width: 767px){
        font-size: 14px;
        &__title {
            font-size: 1.2rem;
        }
    }
}
.hw__title {
    display: block;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fcbb92;
    margin: 0 0 20px 0;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}
.marginTop {
    margin-top: 50px;
    @media (max-width: 767px){
        margin-top: 30px;
    }
}