
.message {
    display: flex;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;
    align-self: flex-end;
}

.avatar img {
    width: 80px;
    height: 100%;
}

.messageItem {
    display: flex;

}
.svg {
    width: 18px;
    height: 18px;
    fill:rgba(255, 255, 255, 0.2);
    align-self: flex-end;
}

.messageBody {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 15px;
    border-radius: 5px 5px 5px 0;
}

.messageBody *:not(:last-child) {
    margin-bottom: 10px;
}

.name {
    font-size: 1.2rem;
    font-weight: 600;
}

.text {
    line-height: 1.5rem;
}

.time {
    align-self: flex-end;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
}

/*-------------------------------------*/

