.inputContainer {
    position: relative;
}
.superInput {
    height: 40px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    min-width: 200px;
    max-width: 300px;
    display: inline-block;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.2);
    border:none;
    border-bottom: 2px solid #41b9c9;
    outline: none;
    caret-color: #96c2b3;
    color: #a9d3c5;
    font-size: 16px;
    font-family: Raleway,sans-serif;
}

.errorInput {
    border: 3px solid lightgreen;
    background: salmon;
}

.error {
    font-size: 14px;
    position: absolute;
    top: -20px;
    left: 20px;
    color: salmon;
}