.inputContainer {
    position: relative;
}
.superInput {
    padding: 10px;
    border-radius: 100px;
    width: 500px;
    display: inline-block;
    margin-bottom: 20px   ;
}

.errorInput {
    border: 3px solid lightgreen;
    background: salmon;
}

.error {
    font-size: 14px;
    position: absolute;
    top: -20px;
    left: 20px;
    color: salmon;
}