/*--------------default styles--------------------*/
a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.default {
    color: #96c2b3;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 1s cubic-bezier(0.19, 1, 0.6, 1);
    margin-bottom: 20px;
}

.default:disabled {
    opacity: 50%;
    animation: none;
}

.default svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.default svg rect {
    fill: none;

    stroke: #96c2b3;
    stroke-width: 1;
    stroke-dasharray: 422, 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.6, 1);
}

.default:hover {
    letter-spacing: 1px;
    font-weight: bold;
}

.default:hover svg rect {
    stroke-width: 5;
    stroke-dasharray: 0, 310;
    stroke-dashoffset: 33;
}


.default:hover:before {
    animation: button 1000ms linear;
}

.default:active {
    opacity: 0.6;
}

.primary {
    color: #96c2b3;
}

/*--------------default styles is ending--------------------*/

.secondary {
    color: #fc9c92;
}

.secondary svg rect {
    stroke: #fc9c92;
}

.danger {
    font-weight: 700;
    color: #fc9c92;
}