*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --select-border: #e3c59c;
    --select-focus: rgb(95, 176, 190);
    --select-arrow: rgb(95, 176, 190);
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Raleway,sans-serif;
    color: #96c2b3;
    width: 100%;
    min-height: 100vh;
    font-size: 18px;
}
body {
    background: rgb(0,17,36);
    background: linear-gradient(0deg, rgb(6, 33, 40) 0%, rgba(13,39,41,1) 36%, rgb(18, 69, 79) 100%) center/contain no-repeat;
}
#root {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}
.swal-title,.swal-text {
    color: #96c2b3;
}
