.hwName {
    text-align: center;
    display: block;
    font-size: 20px;
    color: #71a492;
}
.wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}


.input {
    padding: 5px 10px;
    background: #275048;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    color: #96c2b3;
}
.error {
    border: 1px solid salmon;
}
.errorSpan {
    color: salmon;
    display: block;
    margin-top: 10px;
    font-size: 12px;
}
.btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #099168;
    transition-duration: 300ms;
    font-weight: 600;
    color: #102426;
    margin-right: 10px;
}
.btn:active {
    background: #17da9f;
}
.btn:disabled {
    background: #0a4b37;
    font-weight: 400;
    color: #102426;
}
.swalButtonConfirm {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #17da9f;
    font-size: 12px;
    border: 1px solid #17da9f;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swalModal {
    background-color: #102426;
    border: 3px solid #099168;
    color: #fff !important;
}
.swalModal img {
    width: 200px;
    height: 200px;
}
